{% extends "base.html" %}

{% block title %}GLITCH{% endblock %}

{% block navbar%} 
<li class="nav-item">
    <a class="nav-link active" aria-current="page" style="color: white;" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: white;" href="/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: white;" href="/register">Registreer</a>
  </li>
{% endblock %}

{% block content %}
    <h1>Welkom bij GLITCH!</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>Over Ons</h2>
            <p>Het GLITCH-platform (Gamified Learning Interface Through Challenges and 
                Heuristics) is een innovatief, thema-onafhankelijk leerplatform ontworpen om 
                onderwijs op een dynamische en interactieve manier te benaderen. Het platform 
                gebruikt een modulaire structuur om een breed scala aan vakken en cursussen te 
                huisvesten, elk georganiseerd binnen specifieke domeinen om de navigatie en 
                specialisatie voor gebruikers te vergemakkelijken.</p>
        </div>
        <div class="col-md-6">
            <h2>Contact</h2>
            <p>Telefoon: 010 794 0000<br>
            Email: info@hogeschoolrotterdam.nl<br>
            Adres: Burgemeester S'jacobplein 1, 3015 CA Rotterdam</p>
        </div>
    </div>
{% endblock %}
